/*
Colors used:
Primary Color (Pale Blue): #F5F7FA;
Secondary Color (Green): #8DBD45; 79A13C
Accent Color (White): #FFFFFF
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #F5F7FA;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 400; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  padding: 0px;
  color: #000000; 
}

header {
  position: fixed !important;
  width: 100%;
  z-index: 100;
  /* background-color: #ffffff; */
  padding: 10px 0; 
  /* box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75);
  -webkit-box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75);
  -moz-box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75); */
}

h1, h2, h3, h4 {
  line-height: 1.4;
  color: #000000;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
  color: #000000;
}

h2 {
  font-size: 2.25em;
  font-weight: 650;
  color: #000000;
}

h3 {
  font-size: 1.75em;
  font-weight: 550;
  color: #000000;
}

.myWork {
  text-align: center;
}

.h3Profile {
  color: #2A4E50;

}
h4 {
  font-size: 1.35em;
  font-weight: 400;
  color: #000000;
}

img {
  width: 100%;
}

a {
  color: #4a4a4a;
  font-weight: 600;
  text-decoration: none; /* No underlining */
}

.makeGreen {
  color: #79A13C; /* made Tiffany green */
}

.weight {
  font-weight: 500;
}

.makeFontLight {
  font-weight: 400;
  font-size: 0.75em;
}

.secondary {
  font-size: 0.65em;
  font-weight: 350;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.2), 
  0px -4px 10px rgba(255,255,255,0.3);
}

.Tools {
  font-size: 0.80em;
}

footer {
  background-color: #8DBD45
}

/* BUTTONS */

a:hover,
a:focus {
  color: #658830; 
  color: #658830;
   /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #658830;
}

.caseStudy {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #2A4E50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  margin: 0 auto;
  /* margin-top: -30px;
  margin-bottom: -30px; button size previous format*/
  /* max-width: 600px; button sized stetched  */
  /* display: block; regular state button to be stetched*/
  text-align: center;
  padding: 10px;
  border-radius: 115px;
  border-bottom: 2px solid #1b3436; /* width of the border, type, color */
  transition: 0.4s;
}

.caseStudy:hover {
  opacity: 0.8;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #8DBD45;
  background-image: linear-gradient(to right, #8DBD45 0%, #79A13C 51%, #658830 100%);
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; 
  /* width: 600px;  button size stretched */
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 115px;
  box-shadow: 2px 2px 3px #999;
  transition: 0.4s;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
  border-radius: 8px;
  box-shadow: none;
  width: 30%; 
}

.button.contact:hover {
  background-color: #8DBD45;
  color: #658830;
}

.contactButton {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #8DBD45;
  color: #000000; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 2px 2px 3px #999;
  transition: 0.4s 
}

.contactButton:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  border-radius: 100px;
  outline: none; /* Remove outline */
  background-color: #658830; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
  box-shadow: 2px 2px 3px #999;
  transition: 0.4s 
}
  
#myBtn:hover {
  background-color: #8DBD45; /* Add a dark-grey background on hover */
  opacity: 0.8;
}

ul#nav.navigation {
  list-style: none;
  position: relative;
  /* .. // other styling you want like color, font spacing etc. */
  }
  ul.navigation li {
  float: left;
  color: #4a4a4a;
  /* .. // other styling like border, text color, etc. */
  }
  
  ul.navigation li a {
  display: none;  
  /* // you have the menu running horiz on your page.. // other stylings */
  }
  
  ul.navigation li span {
  float: left;
  position: absolute;
  display: none;
  }
  
  ul.navigation li:hover span {
  display: block; /* // list submenu vertically */
  }


/* Layout styling */

.container {
  padding: 0 30px;
}

.alignCenter {
  text-align: center;
  margin: 80px 0;
}

#hero h1 {
  text-align: center;
  font-size: 2.30em;
  padding: 10px 0px 0px;
  /* padding-left: 30px; Centers text (ONLY IF WANT LEFT ALIGNMENT*/  
}

#hero {
  background-color: #F5F7FA;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.center {
  text-align: center;
}

.logo {
  max-width: 75px;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* float: right; */
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

main {
  padding-top: 89.73px;
}

#contact {
  text-align: center;
  padding-top: 20px;
  margin-bottom: -20px; /* fixed unneccesssary bottom margins */
}

.index {
  padding: 20px;
}

.about {
  padding: 20px;
}

.profImage {
  max-width: 400px;
  padding: 20px;
}

.aboutPicture {
width: 100%;
max-width: 100%;
height: auto;
}

.heroImage {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.heroImage:hover {
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

/* HAMBURGER MENU */


a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: #658830;
}

/* SMALLER SCREEN NAV */

#menuToggle {
  display: block;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 20px;
  height: 2px;
  bottom: 10px;
  margin-bottom: 5px;
  position: relative;
  background: #4a4a4a;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 3.5px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
 
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 550;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
  opacity: 1;
}


#fetch {
  padding: 0px;
}

#caseStudy {
  padding-right: 30px;
  padding-left: 30px;
}

.copyRight {
  padding-bottom: 10px;
  font-size: 13px;
}

/* ANIMATIONS */

/* HERO ANIMATION */

svg#freepik_stories-designer-girl:not(.animated) 
.animable {
  opacity: 0;
}
svg#freepik_stories-designer-girl.animated #freepik--Cat--inject-1--inject-206 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft,1.5s Infinite linear floating;
  animation-delay: 0s,1s;}svg#freepik_stories-designer-girl.animated #freepik--Character--inject-1--inject-206 {
  animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedRight,1.5s Infinite linear wind;
  animation-delay: 0s,1s;
}            

svg#freepik_stories-designer-girl.animated{
  margin-top: -50px;
}
  
@keyframes slideLeft {                
  0% { opacity: 0; transform: translateX(-30px);}                
  100% { opacity: 1; transform: translateX(0);}
}                    
  
@keyframes floating { 
  0% { opacity: 1; transform: translateY(0px);}                
  50% { transform: translateY(-10px);} 
  100% { opacity: 1; transform: translateY(0px);} 
}                    
  
@keyframes lightSpeedRight { 
  from { transform: translate3d(50%, 0, 0) skewX(-20deg); opacity: 0;}              
  60% { transform: skewX(10deg); opacity: 1; } 
  80% { transform: skewX(-2deg);} 
  to { opacity: 1; transform: translate3d(0, 0, 0);}
}          

@keyframes wind { 0% { transform: rotate( 0deg );} 
  25% { transform: rotate( 1deg );} 
  75% { transform: rotate( -1deg );}
}        

.img-hover-zoom {
  max-height: 680px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.1);
  transition: 0.4s;
}

.image {
  position: relative;
  width: 100%;
  margin-bottom: 50px;
}

.overlay {
  display: block;
  width: 100%;
}

.imageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
}

.imageOverlay:hover {
  opacity: 1;
}

.imageTitle {
  font-size: 2em;
  font-weight: bold;
}

.description {
  font-size: 1.10em;
  margin-top: 0.25em;
  text-align: center;
}

/* ART GALLERY */

#fontSmall {
  font-size: 0.70em;
  font-weight: 400;
}

.art {
  display: inline;
  width: 300px;
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
}

img {
  width: 100%;
}

.masonry {
  padding-top: 150px;
	column-count: 4;
	column-gap: 16px;
}

.masonry .mItem {
  display: inline-block;
  margin-bottom: 16px;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media (max-width: 1199px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 991px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 767px) {
  .masonry {
    column-count: 1;
  }
}


/* ==============================
Medium devices (640px and larger)
================================= */

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    position: fixed;
    width: 100%;
    /* background-color: #ffffff 0.50; */
    padding: -10px 0; 
    /* box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75);
    -webkit-box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75);
    -moz-box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75); */
  }

  #hero h1 {
    text-align: left;
    font-size: 2em;
    padding: 75px 0px 75px;
    margin-left: 50px;
    /* padding-left: 30px; Centers text (ONLY IF WANT LEFT ALIGNMENT*/ 
  }

  svg#freepik_stories-designer-girl.animated{
    margin-top: 10px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }

  nav > ul > li {
    display: inline-block;
    /* min-width: 641px; */
  } 

  nav > ul > li > a {
    position: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.85em;
    color: #4a4a4a;
}

  nav > ul {
    margin: 0;
  }

  /* REVERSED NAV */

  ul.navigation li a {
    display: inline;  
    /* // you have the menu running horiz on your page.. // other stylings */
    }

    #menuToggle  {
      display: none;
      opacity: 0;
  }

  .myNavtoggle li:not(:last-child) {
    display: inline-block;
  }

  .myNavtoggle li:last-child {
    display: none;
  }

   /* REVERSED NAV */

  .col-md-6 {
    width: 50%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .button {
    display: inline-block;
    width: 200px; 
  }

  .caseStudy {
    display: inline-block; 
    width: 600px; 
  }

  #caseStudy {
    padding-right: 100px;
    padding-left: 100px;
}

  #viewResume{
    width: 350px;
  }

  .profImage {
    max-width: 400px;
    padding: 10px;
  }
  
  #projects {
    margin: 65px;
  }

  #alignCenter {
    text-align: center;
  }
}
.image {
  position: relative;
  max-width: 767px;
}

.aboutMe {
  font-size: 0.90em;
}


/* ==============================
Large devices (1025px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  header {
    padding: 0;
  }

  svg#freepik_stories-designer-girl.animated{
    margin-top: -50px;
  }

  .button {
    width: 300px;
    text-align: center; 
  }

  .caseStudy {
    width: 600px; 
  }

  #caseStudy {
    padding-right: 300px;
    padding-left: 300px;
  }

    .logo {
      min-width: 150px;
    }

    .nav {
      margin: 30px 0 30px; 
    }

    nav > ul > li {
      display: inline-block;
      /* min-width: 641px; */
    }
    
    nav > ul {
    margin: 1em 0;
    }

    .menuToggle li:not(:last-child) {
      display: inline-block;
    }
  
    .menuToggle li:last-child {
      display: none;
    }

    #hero h1 {
      font-size: 2.10em;
      text-align: left;
      padding: 130px 10px 120px;
      /* margin-left: 50px; */
    }

    .profImage {
    max-width: 600px;
    padding: 50px;
  }

    #projects {
      margin: 130px;
  }

  #alignCenter {
    text-align: center;
    padding: 0 300px;
    
  }

  header {
    position: fixed;
    width: 100%;
    /* background-color: #ffffff 0.50; */
    padding: 10px 0; 
    /* box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75);
    -webkit-box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75);
    -moz-box-shadow: 4px 5px 19px 1px rgba(128,128,128,0.75); */
  }
}

.image {
  position: relative;
  max-width: 767px;
}

.aboutMe {
  padding: 20px;
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
